<div>
  <form name="myForm" ng-submit="submitForm()" class="form-group simple-form">
    <div class="form-group has-feedback">
      <label class="control-label" for="nom">Nom* :</label>
      <input class="form-control" type="text" name="nom" ng-model="inputs.nom" ng-required="true" ng-change="checkAlpha()"
      placeholder="Nom"/>
      <span ng-show="myForm.nom.$valid && myForm.nom.$dirty" class="glyphicon glyphicon-ok form-control-feedback glyph-ok" aria-hidden="true">
      </span>
      <span ng-show="myForm.nom.$invalid && myForm.nom.$dirty" class="glyphicon glyphicon-remove form-control-feedback glyph-ko" aria-hidden="true">
      </span>
      <div role="alert">
        <span class="error" ng-show="myForm.nom.$error.required && myForm.nom.$dirty">
          Champ obligatoire</span>
        <span class="error" ng-show="myForm.nom.$error.pattern && myForm.nom.$dirty">
          Le nom doit être alphabétique</span>
      </div>
    </div>
    <div class="form-group has-feedback">
      <label for="pays">Pays* :</label>
      <select class="form-control" name="pays" ng-model="inputs.pays" ng-change="checkSelect()"
      ng-options="p.nom for p in pays track by p.id" ng-required="true"></select>
      <div role="alert">
          <span class="error" ng-show="myForm.pays.$error.required && myForm.pays.$dirty">
            Champ obligatoire</span>
      </div>
    </div>
    <div class="form-group has-feedback">
      <label class="control-label" for="tel">Tel :</label>
      <input class="form-control" type="text" name="teltel" ng-model="inputs.tel" ng-change="checkPhone()"
      placeholder="Téléphone"/>
      <span ng-show="myForm.tel.$valid && myForm.tel.$dirty" class="glyphicon glyphicon-ok form-control-feedback glyph-ok" aria-hidden="true">
      </span>
      <span ng-show="myForm.tel.$invalid && myForm.tel.$dirty" class="glyphicon glyphicon-remove form-control-feedback glyph-ko" aria-hidden="true">
      </span>
      <div role="alert">
        <span class="error" ng-show="myForm.tel.$error.pattern && myForm.nom.$dirty">
          Le nom doit être alphabétique</span>
      </div>
    </div>
    <div class="form-group has-feedback">
      <label class="control-label" for="poste">Poste :</label>
      <select class="form-control" name="poste" ng-model="inputs.poste" ng-options="poste.nom for poste in postes track by poste.id"></select>
    </div>
    <div class="form-group has-feedback">
      <label for="email">Email* :</label>
      <div class="input-group">
        <span class="input-group-addon">@</span>
        <input class="form-control" type="text" name="email" ng-model="inputs.email" ng-change="checkEmail()" placeholder="Email" ng-required="true">
      </div>
      <span ng-show="myForm.email.$valid && myForm.email.$dirty" class="glyphicon glyphicon-ok form-control-feedback glyph-ok" aria-hidden="true">
      </span>
      <span ng-show="myForm.email.$invalid && myForm.email.$dirty" class="glyphicon glyphicon-remove form-control-feedback glyph-ko" aria-hidden="true">
      </span>
      <div role="alert">
          <span class="error" ng-show="myForm.email.$error.required && myForm.email.$dirty">
            Champ obligatoire</span>
          <span class="error" ng-show="myForm.email.$error.pattern && myForm.email.$dirty">
            Format d'email invalide</span>
      </div>
    </div>
    <input type="submit" class="btn btn-primary" value="Ajouter" ng-disabled="!myForm.$valid"/>
  </form>
</div>